* {
    font-family: JetBrains Mono Nerd Font;
    font-size: 12px;
}
tooltip {
    background: #1f2329;
    margin: 2px;
}
window#waybar {
    background: #282828;
    color: #a0a8b7;
}

#workspaces {
    padding: 0px 4px;
    margin: 3px 0px;
    background: #98971a;
}
#workspaces button {
    min-width: 20px;
    padding: 0px 2px;
    margin: 0px;
}
#workspaces button.active {
    color: #282828;
    background: #b8bb26;
    border-radius: 0;
}
#workspaces button.hover {
    color: #282828;
    background: #b8bb26;
    border-radius: 0;
}
#custom-windowprefix {
    padding: 0 4px;
    margin: 4px 0px 4px 4px;
    min-width: 20px;
    color: #282828;
    background: #689d6a;
}
#window {
    padding: 0px 4px;
    margin: 4px 4px 4px 0px;
    color: #282828;
    background: #8ec07c;
}
window#waybar.empty #window {
    background-color: transparent;
}

#pulseaudio, #custom-batprefix , #custom-netprefix, #custom-clockprefix {
    padding: 0px 8px;
    margin: 4px 0px 4px 4px;
    min-width: 15px;
    color: #282828;
}
#clock, #battery, #pulseaudio-slider, #network, #bluetooth {
    padding: 0px 8px;
    margin: 4px 4px 4px 0px;
    color: #404040;
}
#pulseaudio {
    background: #458588;
}
#pulseaudio-slider {
    background: #83a598;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 60px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 10px;
    border-radius: 5px;
    background-color: #404040;
}
#pulseaudio-slider highlight {
    min-width: 5px;
    border-radius: 5px;
    background-color: #a0a8b7;
}

#custom-batprefix {
    background: #cc241d;
}
#battery {
    background: #fb4934;
}
#custom-netprefix {
    background: #b16286;
}
#network {
    background: #d3869b;
}
#custom-clockprefix {
    background: #d79921;
}
#clock {
    background: #fabd2f;
}
