* {
    font-family: JetBrains Mono Nerd Font;
    font-size: 12px;
}
tooltip {
    background: #1f2329;
    margin: 2px;
    border-radius: 0;
}
window#waybar {
    background: #1f2329;
    color: #a0a8b7;
}

#workspaces {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    background: #323641;
}
#workspaces button {
    padding: 0px 2px;
    margin: 0px;
    border-radius: 0;
}
#workspaces button.inactive {
    color: #48b0bd;
    background: transparent;
}
#workspaces button.active {
    color: #1f2329;
    background: #bf68d9;
}

#clock, #battery, #pulseaudio, #network, #bluetooth {
    padding: 0px 8px;
    margin: 4px 0px;
    background: #323641;
}
#clock {
    margin-right: 4px;
    color: #1f2329;
    background: #8ebd6b;
}
#pulseaudio {
    color: #bf68d9;
}
#battery {
    color: #8ebd6b;
}
#battery.charging {
    color: #4fa6ed;
}
#battery.warning:not(.charging) {
    color: #cc9057;
}
#battery.critical:not(.charging) {
    color: #e55561;
}
#network {
    color: #e2b86b;
}
