* {
    font-family: JetBrains Mono Nerd Font;
    font-size: 12px;
}
tooltip {
    background: #1f2329;
    margin: 2px;
}
window#waybar {
    background: #282828;
    color: #a0a8b7;
}

#workspaces {
    padding: 0px 2px;
}
#workspaces button {
    padding: 0px 2px;
    margin: 0px;
    border-radius: 0;
    border-bottom: 2px solid #928374;
}
#workspaces button.active {
    color: #b8bb26;
    background: #404040;
    border-bottom: 2px solid #ebdbb2;
}

#clock, #battery, #pulseaudio, #network, #bluetooth {
    padding: 0px 8px;
    margin: 0px 4px;
    background: #404040;
    border-bottom: 2px solid;
}
#clock {
    margin-right: 0px;
    border-color: #98971a;
}
#pulseaudio {
    border-color: #bf68d9;
}
#battery {
    border-color: #458588;
}
#battery.charging {
    border-color: #98971a;
}
#battery.warning:not(.charging) {
    border-color: #d79921;
}
#battery.critical:not(.charging) {
    border-color: #cc241d;
}
#network {
    border-color: #d79921;
}
