* {
    bg:     #282c34;
    black:  #1e2127;
    red:    #e06c75;
    green:  #98c379;
    yellow: #e5c07b;
    blue:   #61afef;
    magenta:#c678dd;
    cyan:   #56b6c2;
    white:  #abb2bf;
    
    background: @bg;
    background-alt: @black;
    foreground: @white;
    selected: @magenta;
    active: @green;
    urgent: @red;

    font: "JetBrains Mono Nerd Font 11";
}
